.tierList {
  .lifelines {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;

    button {
      border-radius: 50%;
      height: 50px;
      width: 100%;
      color: white;
      background-color: blue;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      box-shadow: inset 0 -2px 10px #000000;

      &:disabled {
        background-color: lightgray;
        color: darkgray;
      }
    }
  }

  .tiers {
    display: block;

    button {
      text-align: left;
      display: grid;
      grid-template-columns: 50px 1fr;
      justify-content: space-between;
      color: orange;
      background-color: blue;
      padding: 10px;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 10px;
      font-size: 18px;
      font-weight: 800;
      box-shadow: inset 0 -2px 10px #000000;
      cursor: pointer;

      &.newTier {
        color: white;
      }

      &.current {
        background-color: orange;
        color: black;
      }
    }
  }

  h2 {
    width: 100%;
    text-align: center;
    color: white;
  }

  .pollAudienceModal {
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

    .closeButton {
      position: absolute;
      right: -20px;
      top: -20px;
      color: white;
      background: none;
      border: none;
      font-size: 30px;
      cursor: pointer;
      border-radius: 50px;
      background-color: blue;
      width: 40px;
      height: 40px;
    }
  }
}
