.main {
  background-image: url('../public/stage_img_dark.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-height: 100vh;
  overflow: hidden;

  .contentWrapper {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    padding: 100px 0;
    text-align: center;

    h1 {
      padding-top: 100px;
      margin-top: 0;
      text-align: center;
      margin-bottom: 100px;
      color: white;
      font-size: 50px;
      font-weight: 800;
    }

    .logo {
      margin: 20px auto 50px;
      transform: rotate(-5deg);
      transition: all 1s ease;
      cursor: pointer;
    }

    .tiers {
      display: grid;
      grid-template-columns: auto 1fr 1fr 1fr;
      column-gap: 30px;
      align-items: center;
      position: relative;
      transition: all 1s ease;

      article {
        width: auto;
        opacity: 1;
        transition: width 1s ease;
      }

      &:not(.playing) {
        grid-template-columns: 1fr;
        column-gap: 0;

        article {
          width: 0;
          opacity: 0;
        }
      }
    }
  }
}
